<div class="container">
<form #userInfo="ngForm" (ngSubmit)="submitDetails(userInfo.value)">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" name="FirstName" [(ngModel)]="fname"/>
    two way binding - {{fname}}
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" name="LastName" [(ngModel)]="lname"/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="Email" [(ngModel)]="Email"/>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <input type="radio" class="form-control" value="male" name="gender" [(ngModel)]="gend"/>male
    <input type="radio" class="form-control" value="female" name="gender" [(ngModel)]="gend"/>female
  </div>
  <button type="submit">Submit</button>
</form>
</div>